<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amazon.keyword.dao.IKeywordDetailDao" >
  <resultMap id="BaseResultMap" type="com.amazon.common.entity.KeywordDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="keyword_id" property="keywordId" jdbcType="INTEGER" />
    <result column="sbid_low" property="sbidLow" jdbcType="REAL" />
    <result column="sbid_median" property="sbidMedian" jdbcType="REAL" />
    <result column="sbid_high" property="sbidHigh" jdbcType="REAL" />
    <result column="keyword_bid" property="keywordBid" jdbcType="REAL" />
    <result column="impression" property="impression" jdbcType="INTEGER" />
    <result column="spend" property="spend" jdbcType="REAL" />
    <result column="cpc" property="cpc" jdbcType="REAL" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="acos" property="acos" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, keyword_id, sbid_low, sbid_median, sbid_high, keyword_bid, impression, spend, 
    cpc, orders, sales, create_time, acos
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keyword_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keyword_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.amazon.common.entity.KeywordDetail" >
    insert into keyword_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="keywordId != null" >
        keyword_id,
      </if>
      <if test="sbidLow != null" >
        sbid_low,
      </if>
      <if test="sbidMedian != null" >
        sbid_median,
      </if>
      <if test="sbidHigh != null" >
        sbid_high,
      </if>
      <if test="keywordBid != null" >
        keyword_bid,
      </if>
      <if test="impression != null" >
        impression,
      </if>
      <if test="spend != null" >
        spend,
      </if>
      <if test="cpc != null" >
        cpc,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="acos != null" >
        acos,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keywordId != null" >
        #{keywordId,jdbcType=INTEGER},
      </if>
      <if test="sbidLow != null" >
        #{sbidLow,jdbcType=REAL},
      </if>
      <if test="sbidMedian != null" >
        #{sbidMedian,jdbcType=REAL},
      </if>
      <if test="sbidHigh != null" >
        #{sbidHigh,jdbcType=REAL},
      </if>
      <if test="keywordBid != null" >
        #{keywordBid,jdbcType=REAL},
      </if>
      <if test="impression != null" >
        #{impression,jdbcType=INTEGER},
      </if>
      <if test="spend != null" >
        #{spend,jdbcType=REAL},
      </if>
      <if test="cpc != null" >
        #{cpc,jdbcType=REAL},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="acos != null" >
        #{acos,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amazon.common.entity.KeywordDetail" >
    update keyword_detail
    <set >
      <if test="keywordId != null" >
        keyword_id = #{keywordId,jdbcType=INTEGER},
      </if>
      <if test="sbidLow != null" >
        sbid_low = #{sbidLow,jdbcType=REAL},
      </if>
      <if test="sbidMedian != null" >
        sbid_median = #{sbidMedian,jdbcType=REAL},
      </if>
      <if test="sbidHigh != null" >
        sbid_high = #{sbidHigh,jdbcType=REAL},
      </if>
      <if test="keywordBid != null" >
        keyword_bid = #{keywordBid,jdbcType=REAL},
      </if>
      <if test="impression != null" >
        impression = #{impression,jdbcType=INTEGER},
      </if>
      <if test="spend != null" >
        spend = #{spend,jdbcType=REAL},
      </if>
      <if test="cpc != null" >
        cpc = #{cpc,jdbcType=REAL},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="acos != null" >
        acos = #{acos,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryDetailList" resultMap="BaseResultMap" parameterType="com.amazon.common.entity.KeywordDetail" >
    select *
    from keyword_detail
    <where>keyword_id = #{keywordId,jdbcType=INTEGER}
    	<if test="startTime != null" >
          and create_time  &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null" >
          and create_time  &lt;= #{endTime,jdbcType=BIGINT}
        </if>
    </where>
    order by create_time asc
  </select>
  <select id="queryLatestDetail" resultMap="BaseResultMap" parameterType="com.amazon.common.entity.KeywordDetail" >
    select * from keyword_detail
	where keyword_id = #{keywordId,jdbcType=INTEGER}
	order by create_time desc limit 1
  </select>
</mapper>