<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amazon.keyword.dao.IKeywordAsinDao" >
  <resultMap id="BaseResultMap" type="com.amazon.common.entity.KeywordAsin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <collection property="groupList" resultMap="groupMap" />
  </resultMap>
  <resultMap id="groupMap" type="com.amazon.common.entity.KeywordGroup">
	<id column="g_id" property="id" jdbcType="INTEGER" />
	<result column="g_name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keyword_asin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keyword_asin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.amazon.common.entity.KeywordAsin" >
    insert into keyword_asin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amazon.common.entity.KeywordAsin" >
    update keyword_asin
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectKeywordAsin" resultMap="BaseResultMap" parameterType="com.amazon.common.entity.KeywordAsin" >
    select 
    <include refid="Base_Column_List" />
    from keyword_asin
    where name = #{name,jdbcType=INTEGER} limit 1
  </select>
  <select id="queryAsinList" resultMap="BaseResultMap"  >
    select ka.*, kg.id as g_id, kg.name as g_name from keyword_asin as ka
	left join keyword_group as kg on ka.id = kg.asin_id
  </select>
</mapper>